<div class="m-auto pt-5 mt-5" style="max-width: 700px;">
    <div class="text-center">
        <img width="80%" mat-card-image src="../../../../assets/image/runner_plan.png" alt="Photo of a Shiba Inu">
    </div>
    <form class="p-3">
        <div class="col-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Digite o e-mail" type="email">
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite sua senha" type="senha">
                <mat-hint align="end">
                    <a class="btn btn-sm" routerLink="/reset-password" mat-button color="primary">
                        Esqueci minha senha
                    </a>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12 mt-4">
            <div class="text-end">
                <button mat-raised-button color="primary">Acessar</button>
            </div>
        </div>
    </form>
</div>
<div class="position-absolute bottom-0 start-50 translate-middle-x mb-5">
    <button mat-raised-button color="accent" routerLink="/register">Cadastre-se</button>
</div>

<!-- <div class="d-flex justify-content-center flex-nowrap align-items-center m-auto" 
    style="min-height: 100vh; max-width: 400px;">
    <div class="row">
        <div class="col-12 text-center">
        </div>
        <div class="col-12">
      
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div> -->
<!-- <div class="login">    
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <mat-form-field class="w-100 mb-0">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Digite o e-mail" type="email">
            </mat-form-field>
            <mat-form-field class="w-100 mb-0">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite sua senha" type="senha">
                <mat-hint>
                    <a class="btn btn-sm" href="#" mat-button color="primary">
                        Esqueci minha senha
                    </a>
                </mat-hint>
            </mat-form-field>
        </div>
        
        
    </div>
</div> -->